{% extends 'base.html' %}

{% block Style %}
    <link href="{{ url_for('static', filename='starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='search-view.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='album.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

{% endblock %}


{% block header %}
          <li class="nav-item" style="margin-right:1rem;">
            <a class="nav-link" href="/">字形</a>
          </li>
          <li class="nav-item active" style="margin-right:55rem;">
            <a class="nav-link" href="/script/">甲片<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" style="margin-right:1rem;">
            <a class="nav-link" href="#">联系我们</a>
          </li>
{% endblock %}


{% block Intro %}
    <div class="container mb-4">
      <div class="starter-template">
        <div class="d-flex inline">
          <div class="col-md-7 offset-md-2">

            <form id="search" method="post" enctype="multipart/form-data" >
              <div class="input-group">
                   <input type="hidden" name="selection" id="sel" value="script" name = "甲片序号">

                   <div class="input-group mb-3">

                     <input type="text" id="id_input" class="form-control" placeholder="输入甲片序号" style="height: calc(1.6em + 0.75rem + 2.5px);" name="ID" required="required" style="border-color:rgb(255,255,255);height:31pt"/>
                     <input type="file" id="image_uploader" name="image_uploader" accept="image/*" style="display: none;height:28pt"/>

<!--                      <span class="input-group-append" style="border:1px; background-color:#fff;">
                       <img src="{{ url_for('static', filename='base/assets/write.png') }}" id="write"
                            style="cursor:pointer; padding:5pt; height:28pt; width:28pt">
                       <img src="{{ url_for('static', filename='base/assets/camera.png') }}" id="upload"
                            title="点击上传甲骨文图片" style="cursor:pointer; padding:5pt; padding-right:10pt; height:28pt; width:33pt">
                     </span> -->

                     <span class="input-group-btn">
                       <button class="btn btn-rev" id="btn_submit" type="submit">
                         <img src="{{ url_for('static', filename='base/assets/search.png') }}"
                              style="height:29pt; width:38pt">
                       </button>
                     </span>

                  </div>

              </div>
            </form>

           </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block Content %}


<main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-crop" width="100%" height="125" src="{{ url_for('static', filename='base/assets/HBS.jpg') }}">
              <div class="card-body">
                <p class="card-text">《甲骨文合集》拓片1-5</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">Pic 1</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-crop" width="100%" height="225" src="{{ url_for('static', filename='base/assets/6.jpg') }}">
              <div class="card-body">
                <p class="card-text">《甲骨文合集》拓片6</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">Pic 2</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-crop" width="100%" height="225" src="{{ url_for('static', filename='base/assets/7-13.jpg') }}">
              <div class="card-body">
                <p class="card-text">《甲骨文合集》拓片7-13</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">Pic 3</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- image uploader
    ================================================== -->
    <div class="modal fade" id="modal_uploader">
        <div class="modal-dialog" style="max-width:1010px;">
            <div class="modal-content">
              <!-- 模态框头部Title -->
              <div class="modal-header">
                  <div class="d-inline-flex pt-2">
                    <img src="{{ url_for('static', filename='base/icon/bar.png') }}" style="height: 1.75rem; padding-bottom: 0.25rem">
                    <h5>手写甲骨文字</h5>
                  </div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- 模态框主体内容：手写板或图片 -->
              <div class="modal-body">
                <div class="card bg-light text-dark">
                    <div class="card-body" id="imgContainer" style="text-align: center;">

                    </div>
                </div>
              </div>
              <!-- 模态框底部按钮 -->
              <div class="modal-footer">
                  <button class="btn" type="button" id="recognition">
                       <img src="{{ url_for('static', filename='base/assets/search.png') }}"
                            style="height:29pt; width:38pt; border-radius:0.5rem">
                  </button>
              </div>
            </div>
        </div>
    </div>

   <!-- board uploader
    ================================================== -->
    <div class="modal fade" id="modal_board">
        <div class="modal-dialog" style="max-width:550px;">
            <div class="modal-content">
              <!-- 模态框头部Title -->
              <div class="modal-header">
                  <div class="d-inline-flex pt-2">
                    <img src="{{ url_for('static', filename='base/icon/bar.png') }}" style="height: 1.75rem; padding-bottom: 0.25rem">
                    <h5>手写甲骨文字</h5>
                  </div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- 模态框主体内容：手写板或图片 -->
              <div class="modal-body">
                <div class="card bg-light text-dark">
                    <div style="width:500px;height:500px;margin:0 auto;">
                        <canvas class="canvas-box" id="canvas" style = "background-color: #fff;border: none;"></canvas>
                    </div>
                </div>
              </div>
              <!-- 模态框底部按钮 -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" onclick="clearDraw()">清除</button>
                  <button class="btn" type="button" id="recognition2" onclick="canvasSaveToServer()">
                       <img src="{{ url_for('static', filename='base/assets/search.png') }}"
                            style="height:29pt; width:38pt; border-radius:0.5rem">
                  </button>
              </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function(){
          // 搜索框的下拉菜单
          $(".dropdownItem").click(function(){
            $("#sel").val( $(this).attr("name") );
            $("#dropdownTitle").text( $(this).text() + " " )
          });
        });
        
        // 文件上传图片
        $("#upload").click(function(){
            $("#image_uploader").click();
        });

        // 手写板显示
        $("#write").click(function(){
            $("#modal_board").modal('show');
        });

        // 照片上传显示
        $("#image_uploader").change(function(){
            var file = $(this).prop('files')[0];
            getImgsByFileReader($("#imgContainer"), file);
            $("#modal_uploader").modal('show');
        });
    </script>

    <script src="{{ url_for('static', filename='js/image_board.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image_uploader.js') }}"></script>


</main>
{% endblock %}
